.nav, body, html {
  background-color: #ece9e0;
}
.ol-attribution {
  display: none;
}
.logo {
  height: 35px;
  position: absolute;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 5px;
}
.logo img {
  height: 100%;
}
.mv-list-image {
  width: 40%
}
.mv-list-image img {
  width: 100%;
  object-fit: cover;
  max-height: 70px;
}
#locations {
  max-width: 450px;
}
