.nav, body, html {
  background-color: #ece9e0;
}
.ol-attribution {
  display: none;
}
.logo {
  height: 35px;
  position: absolute;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 5px;
}
.logo img {
  height: 100%;
}
.mv-list-image {
  width: 40%
}
.mv-list-image img {
  width: 100%;
  object-fit: cover;
  max-height: 70px;
}
.mv-plant-image img {
  width: 150px;
  object-fit: cover;
  height: 70px;
}
#locations {
  max-width: 450px;
}
.mv-menu {
  background: #002C3D;
}
.offcanvas-filter {
  background-color: #36302A;
}
.uk-button-danger {
  background-color: #8D2838 !important;
}

.layered_image {position: relative; top: 0; left: 0;}
.layered_image img {position: absolute; top: 0; left: 0;}
.layered_image img.base {position: relative;}

#map:-moz-full-screen {
  height: 100%;
  width: 100%;
}
#map:-webkit-full-screen {
  height: 100%;
  width: 100%;
}
#map:-ms-fullscreen {
  height: 100%;
  width: 100%;
}
#map:fullscreen {
  height: 100%;
  width: 100%;
}

#sponsor {
  z-index: 9999;
}
