.nav, body, html {
  background-color: #ece9e0;
}
.ol-attribution {
  display: none;
}
.logo {
  height: 24px;
  position: absolute;
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10px;
}
.logo img {
  height: 100%;
}
