RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTPS} off
RewriteRule ^(|audio|today|contact|eat|plants|shuttles|social|index) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
